:root {
--main-text-color: #212121;

}


body {
color: var(--main-text-color);
}
/* Лого верхнее */
.header-logo {
    color: #000000;
}
.logo {
    color: #2196F3;
}
main-nav a {
    color: #000000;
}


ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/*  site-nav */
.site-nav .link {
    color: #212121;
}
.link:hover,
.link:focus {
    color: #2196F3;
}

h1 {
    color: #ffffff;
}
.hero {
    background: #2F303A;
}

/* кнопка-ссылка */
.button {
    color: #ffffff;
    background-color: #2196F3;
}


/* Наша команда */
.text {
    color: #757575;
}
.command {
    background-color: #F5F4FA;
}


/* Футер */

.footer-address p {
    color: #ffffff;
}
.footer-address a {
    color: rgba(255, 255, 255, 60%);
}
.footer {
    background-color: #2F303A;
}
.footer-logo {
color: #ffffff;
}

/* Свойства для стр Портфолио */

.button-potfolio {
   color: var(--main-text-color);
    background-color: #F5F4FA;
}
.button-potfolio:hover,
 .button-potfolio:focus {
  color: #ffffff; 
  background-color: #2196F3; 
}
